In [2]:
import pandas as pd

# data link from aoos portal (navigate in browser then copy link)
filename =  "https://workspace.aoos.org/published/file/8453d3df-68c2-42b5-8c17-c17c240b781e/Seward_ZooData_Multinet_2012_2016_final.csv"

df = pd.read_csv(filename)
df.head()

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,1,Cruise,Station,Gear Type,Gear Size(m),Tow Type,Net Number,Mesh Size (mm),Latitude (degrees N),Longitude (degrees W),...,Subphylum,Class,Subclass,Infraclass,Order,Unnamed: 27,Infraorder,Family,Genus,Species Name
0,2,TXS12,GAK1,Multi Net,0.25 m square,Oblique,1,0.5,59.8235,-149.4522,...,Vertebrata,Actinopterygii,Neopterygii,Teleostei,Osmeriformes,Argentinoidei,NaN,Bathylagidae,NaN,NaN
1,3,TXS12,GAK1,Multi Net,0.25 m square,Oblique,1,0.5,59.8235,-149.4522,...,Crustacea,Maxillopoda,Copepoda,Neocopepoda,Calanoida,NaN,NaN,Calanidae,Calanus,marshallae
2,4,TXS12,GAK1,Multi Net,0.25 m square,Oblique,1,0.5,59.8235,-149.4522,...,Crustacea,Maxillopoda,Copepoda,Neocopepoda,Calanoida,NaN,NaN,Calanidae,Calanus,marshallae
3,5,TXS12,GAK1,Multi Net,0.25 m square,Oblique,1,0.5,59.8235,-149.4522,...,Crustacea,Maxillopoda,Copepoda,Neocopepoda,Calanoida,NaN,NaN,Calanidae,Calanus,marshallae
4,6,TXS12,GAK1,Multi Net,0.25 m square,Oblique,1,0.5,59.8235,-149.4522,...,Crustacea,Maxillopoda,Thecostraca,Cirripedia,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
# there are 32 columns, and I'm not seeing all of them with head().  Need to find another way to view all the variables.
list(df)
df.dtypes

1                                     int64
Cruise                               object
Station                              object
Gear Type                            object
Gear Size(m)                         object
Tow Type                             object
Net Number                            int64
Mesh Size (mm)                      float64
Latitude (degrees N)                float64
Longitude (degrees W)               float64
Sample Volume (m3)                  float64
Minimum Depth (m)                   float64
Maximum Depth (m)                   float64
Start Date-Time                      object
End Date-Time                        object
Accepted Organism Identification     object
Life Stage                           object
NODC code                           float64
Abundance (no m-3)                   object
Biomass (g wet weight m-3)           object
Kingdom                              object
Phylum                               object
Subphylum                            object
Class                                object
Subclass                             object
Infraclass                           object
Order                                object
Unnamed: 27                          object
Infraorder                           object
Family                               object
Genus                                object
Species Name                         object
dtype: object

In [14]:
marshallae = df[df['Species Name'].str == 'marshallae']
marshallae1 = df[df['Net Number'] == 1

KeyError: False

1                                     int64
Cruise                               object
Station                              object
Gear Type                            object
Gear Size(m)                         object
Tow Type                             object
Net Number                            int64
Mesh Size (mm)                      float64
Latitude (degrees N)                float64
Longitude (degrees W)               float64
Sample Volume (m3)                  float64
Minimum Depth (m)                   float64
Maximum Depth (m)                   float64
Start Date-Time                      object
End Date-Time                        object
Accepted Organism Identification     object
Life Stage                           object
NODC code                           float64
Abundance (no m-3)                   object
Biomass (g wet weight m-3)           object
Kingdom                              object
Phylum                               object
Subphylum                            object
Class                                object
Subclass                             object
Infraclass                           object
Order                                object
Unnamed: 27                          object
Infraorder                           object
Family                               object
Genus                                object
Species Name                         object
dtype: object